**/target/
/target/
*/target/*
.classpath
.project
.settings

# Package Files #
*.jar
*.war
*.ear

*.iml
*.idea
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
