**/target/
/target/
*/target/*
.classpath
.project
.settings
.DS_Store

# Package Files #
*.jar
*.war
*.ear

*.iml
*.idea
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# mac stuff
.DS_Store
